# Python virtual environment
venv/

# Bytecode cache
__pycache__/
*.pyc

# Environment files (important)
.env
backend/.env

# Firebase secrets
serviceAccountKey.json
backend/serviceAccountKey.json

# OS files
.DS_Store
Thumbs.db

# VS Code settings (if using VS Code)
.vscode/

# Logs
*.log
